.task-column-wrapper {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 300px;
}

.not-started {
  background-color: #cce7ff;
}

.in-progress {
  background-color: #99ccff;
}

.done {
  background-color: #6699ff;
}

.task-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-column {
  margin: 10px 0;
}

.task-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.task-item button {
  margin-left: 5px;
}
